	<!DOCTYPE html>
	<html>
	<head>
		<meta charset="utf-8" />
		<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<title></title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<link href="static/style.css" rel="stylesheet">
	</head>

	<body>

	<div class="wrapper">

		<header class="header">
			<strong> DDSC CLOUD DB LOG anazyler system</strong>
				</header><!-- .header-->

		<main class="content">
			<strong>Content:</strong> 歡迎進入 DDSC 中菲專業服務部 雲端資料庫分析系統<p>
			第一次使用請<a href='http://localhost:8080/reg/'>註冊帳號</a>及下載<a href='static/logcollector.exe' > DB Log collector </ha> 
		
		
				</main><!-- .content -->

		<footer class="footer">
			<strong>連絡方式</strong> developer by Hermes		</footer><!-- .footer -->

	</div><!-- .wrapper -->

	</body>
	</html>