<!DOCTYPE html>
	<html>
	<head>
		<meta charset="utf-8" />
		<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<title></title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<link href="../static/style.css" rel="stylesheet">



	</head>

	<body>

	<div class="wrapper">

		<header class="header">
			<strong> DDSC CLOUD DB LOG anazyler system</strong>
				</header><!-- .header-->

		<main class="content">
			<strong>歡迎進入 DDSC 中菲專業服務部 雲端資料庫分析系統</strong> <p>
				</div><!-- .wrapper -->
				
			Register Form
			<div id="dv_table">
	<form id="regForm" action="/useradd" method="post">
	<div class="dv_td" align="center">公司 名 稱:  <input id="companyname"  name="companyname"  /> <br>
	使用者姓名:<input id="username" name="username"  /> <br>
	密      碼:</label><input  type="password" id="pass1" name="pass1"  /> <br>
	<label for="pass2"> 確認密碼:  </label><input  type="password" id="pass2"  name="pass2"  /> <br>
	Email   :<input  id="emailaddr" name="emailaddr" class="required email" /><br></div><!-- .dv_td-->
	<input class="submitaweber" type="submit" value="送出" />
			

				</form>
						<script src="../static/jquery.js"></script>
		<script src="../static/jquery.validate.js"></script>
	
		<script type="text/javascript">
		jQuery.validator.setDefaults({
  		debug: true,
  		success: "valid"
		});
		$( "#regForm" ).validate({
  		rules: {
   		pass1: {minlength: 6},
    	pass2: {minlength: 6,equalTo: "#pass1"},
    	companyname:"required",
    	username:"required",
    	emailaddr:"required"
  		}
			});
		$('#regForm').on('submit',function(e){e.preventDefault();
			this.submit();
		});
		
		</script>
				
				</main><!-- .content -->

		<footer class="footer">
			<strong>連絡方式</strong> developer by Hermes		</footer><!-- .footer -->


	</body>
	</html>